<!DOCTYPE html>
<html>
<head>
  <title>Norwich Travel Companions</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/js/jquery.bxslider/jquery.bxslider.min.js"></script>
  <script src="/js/site.js"></script>
  <link href="/js/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<div id="nav">
  <ul>
    <li><a href="/index.html/#content">Home</a></li>
    <li><a href="/index.html/#companions">Companions</a></li>
    <li><a href="/index.html/#events">Events</a></li>
    <li><a href="/index.html/#footer">Contact Us</a></li>
    <li><a href="/terms.html">T's C's</a></li>
</div>
    
    <div id="content" class="contain">
    {{ content }}
    </div>

    <div id="footer" class="cf">
  <div class="contain">
    <div class="left">
      <h2>Contact Us</h2>
      <ul>
        <li>Phone: 07437938160</li>
        <li>E-Mail: TravellersNetworkUk@gmail.com</li>
      </ul>
    </div>

    <div class="right">
      <h2>Opening Hours</h2>
      <ul>
        <li>Monday - Friday: 8am - 6pm.</li>
        <li>Saturday: 9am - 5pm.</li>
        <li>Sunday: 10am - 4pm.</li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>